/* Styles go here */
#content {
    border-color: chocolate;
    border-style: solid;
    display: inline-block;
    border-width: thin;	
    width: 300px;
}

.contact-app span {
    display: inline-block;
    font-family: monospace;
    font-size: 1.5em;
}

.contactItem {
    list-style-type: none;
    padding-left: 10px;
}